.background {
  background-color: blue;
}

.project-space {
  display: inline-block;
  margin: 5px;
  border: 2px solid black;
  padding: 5px;
  width: 300px;
  background-color: aquamarine;
}
.task-space {
  margin: 5px;
  border: 2px solid black;
  padding: 5px;
  width: 300px;
  background-color: aquamarine;
}

.edit-buttons {
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(232, 238, 154);
  padding: 5px;
  margin: 2px;
}

.home-buttons {
  background-color: rgb(38, 3, 70);
  color: rgb(60, 142, 236); /* Set the text color to blue */
  text-decoration: underline; /* Add underline to text */
  padding: 3px;
  width: 150px;
  border: 1px solid black;
  border-radius: 6px;
  margin: 10px;
}

.submit-buttons {
  background-color: rgb(208, 211, 214);
  color: black;
  padding: 3px;
  width: 150px;
  border: 1px solid black;
  border-radius: 6px;
}

.back-buttons {
  background-color: rgb(126, 74, 209);
  color: rgb(87, 25, 25); /* Set the text color to blue */
  text-decoration: underline; /* Add underline to text */
  padding: 3px;
  width: 150px;
  border: 1px solid black;
  border-radius: 6px;
  margin: 10px;
}
.form-labels {
  color: antiquewhite;
}

.board {
  display: flex; /* Use flexbox to arrange columns side by side */
}

.column {
  flex: 1; /* Allow columns to grow and fill available space */
  margin: 10px; /* Add some margin between columns for spacing */
}
#backlog {
  background-color: aquamarine;
}
#todo {
  background-color: lightcoral;
}
#inProgress {
  background-color: lightcoral;
}
#review {
  background-color: lightcoral;
}
#completed {
  background-color: royalblue;
}
