.project-space {
  display: inline-block;
  margin: 5px;
  border: 2px solid black;
  padding: 5px;
  width: 300px;
  background-color: #b9e6fd;
}

.task-space {
  margin: 5px;
  border: 2px solid black;
  padding: 5px;
  width: 300px;
  background-color: #b9e6fd;
}

.edit-buttons {
  border: 1px solid black;
  border-radius: 10px;
  background-color: #b9e6fd;
  padding: 5px;
  margin: 2px;
}

.home-buttons {
  background-color: #b9e6fd;
  color: black;
  text-decoration: underline;
  padding: 3px;
  width: 150px;
  border: 1px solid black;
  border-radius: 6px;
  margin: 10px;
}

.submit-buttons {
  background-color: #b9e6fd;
  color: black;
  padding: 3px;
  width: 150px;
  border: 1px solid black;
  border-radius: 6px;
}

.back-buttons {
  background-color: #b9e6fd;
  color: black;
  padding: 3px;
  width: 150px;
  border: 1px solid black;
  border-radius: 6px;
  margin: 10px;
}

.form-labels {
  color: black;
}

.board {
  display: flex; /* Use flexbox to arrange columns side by side */
}

.column {
  flex: 1; /* Allow columns to grow and fill available space */

  margin: 5px; /* Add margin for spacing */
}
.valid-drop-area {
  border: 2px dashed green; /* Add a green dashed border for valid drop areas */
}

.invalid-drop-area {
  border: 2px dashed red; /* Add a red dashed border for invalid drop areas */
}
#backlog {
  background-color: aquamarine;
}
#todo {
  background-color: lightcoral;
}
#inProgress {
  background-color: lightcoral;
}
#review {
  background-color: lightcoral;
}
#completed {
  background-color: royalblue;
}
