.project-space {
  display: inline-block;
  margin: 5px;
  border: 2px solid black;
  padding: 5px;
  width: 300px;
  background-color: #b9e6fd;
}

.task-space {
  margin: 1px;
  border: 2px solid black;
  padding: 5px;
  width: 300px;
  background-color: #b9e6fd;
}
.user-space {
  display: inline-block;
  vertical-align: top;
  margin: 1px;
  border: 2px solid black;
  padding: 5px;
  width: 250px;
  background-color: #fde2b9;
}
.task-space.dragging {
  background-color: lightgreen;
}
.edit-buttons {
  border: 1px solid black;
  border-radius: 10px;
  background-color: #b9fdcd;
  padding: 5px;
  margin: 2px;
}

.home-buttons {
  background-color: #1a06b2;
  color: rgb(249, 215, 215);
  text-decoration: underline;
  padding: 3px;
  width: 150px;
  border: 1px solid black;
  border-radius: 6px;
  margin: 10px;
}

.submit-buttons {
  background-color: #b9e6fd;
  color: black;
  padding: 3px;
  width: 150px;
  border: 1px solid black;
  border-radius: 6px;
}
.small-buttons {
  background-color: #b9e6fd;
  color: black;
  font-size: 10px;
  padding: 1px;
  width: auto;
  border: 1px solid black;
  border-radius: 6px;
}

.back-buttons {
  background-color: #b9e6fd;
  color: black;
  padding: 3px;
  width: 150px;
  border: 1px solid black;
  border-radius: 6px;
  margin: 10px;
}

.form-labels {
  color: black;
}

.board {
  display: flex; /* Use flexbox to arrange columns side by side */
}
.column-container {
  display: flex; /* This and "flex: 1" makes all column having the same height at all times */
}
.column {
  flex: 1; /* Allow columns to grow and fill available space */
  width: 306px; /* All columns still have 306px width even when empty */
  padding: 2px;
  border: 1px black solid;
}

#backlog {
  background-color: aquamarine;
}
#todo {
  background-color: lightcoral;
}
#inProgress {
  background-color: lightcoral;
}
#review {
  background-color: lightcoral;
}
#completed {
  background-color: royalblue;
}
#dropping {
  background-color: green;
}
