.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 1024px) {
  .header {
    grid-template-columns: 1fr auto;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: transparent;
}

.App-link {
  color: #61dafb;
}

.project-space {
  display: inline-block;
  margin: 5px;
  border: 2px solid black;
  padding: 5px;
  width: 300px;
  background-color: #b9e6fd;
}

.task-space {
  margin: 5px;
  border: 2px solid black;
  padding: 5px;
  width: 300px;
  background-color: #b9e6fd;
}

.edit-buttons {
  border: 1px solid black;
  border-radius: 10px;
  background-color: #b9e6fd;
  padding: 5px;
  margin: 2px;
}

.home-buttons {
  background-color: #b9e6fd;
  color: black;
  text-decoration: underline;
  padding: 3px;
  width: 150px;
  border: 1px solid black;
  border-radius: 6px;
  margin: 10px;
}

.submit-buttons {
  background-color: #b9e6fd;
  color: black;
  padding: 3px;
  width: 150px;
  border: 1px solid black;
  border-radius: 6px;
  margin-bottom: 0;
}

.back-buttons {
  background-color: #b9e6fd;
  color: black;
  padding: 3px;
  width: 150px;
  border: 1px solid black;
  border-radius: 6px;
  margin-bottom: 0;
}

.form-labels {
  color: black;
}
